fastapi==0.109.0     #фреймворк для создания REST API (асинхронный, быстрый)
uvicorn==0.27.0      #ASGI-сервер для запуска FastAPI (заменяет gunicorn)
sqlalchemy==2.0.25      #ORM для работы с базой данных (Python → SQL)
psycopg2-binary==2.9.9       #драйвер для подключения к PostgreSQL
redis==5.0.1       #клиент для Redis (кэширование ответов API)
pydantic==2.5.3       #валидация данных и схемы для FastAPI (request/response)
